/* Common styles for both day and night mode */
.home {
    display: flex;
    background: white;
}

/* Styles for day mode */
.home.day {
    --background-color: #FFFFFF;
    --text-color: #000000;
}

/* Styles for night mode */
.home.night {
    --background-color: #000000;
    --text-color: #FFFFFF;
}

/* Search Bar Box CSS */
.searchbar {
    box-sizing: border-box;
    width: 311px;
    border: 2px solid var(--background-color);
    border-radius: 8px;
    padding: 10px;
    margin-left: 66px;
    margin-right: 40px;
    background-color: var(--background-color);
    position: relative; /* Make the search bar position relative */
}

.searchbar h2 {
    margin-top: 0; /* Reset margin */
    color: var(--text-color);
}

.searchbar input[type="text"] {
    width: calc(100% - 25px);
    height: 48px;
    background-color: var(--background-color);
    margin-bottom: 15px;
    border: 1px solid #E8E8E8; 
    border-radius: 8px;
    padding-left: 10px; 
    font-size: 18px;
    color: var(--text-color);
}

.searchbar input::placeholder {
    color: #5E5E5E;
    font-size: 18px;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 40px;
}

.searchbar button {
    background-color: #ec1313;
    color: #FFFFFF;
    width: 100%;
    height: 48px;
    margin-top: 20px;
    font-size: 18px;
    padding: 14px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer; /* Add cursor pointer */
}

/* Styles for up-down arrow image */
.updown-img {
    height: 30px;
    width: 30px;
    margin-left: 120px;
}

/* Styles for input container */
.input-container {
    position: relative;
    width: 100%; /* Adjust width */
}

/* Styles for input fields */
/* .input-container > input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
} */

.input-container1 {
    background-image: url("../../Assets/Pickup.png");
    background-size: 35px 35px; /* Adjust size of the background image */
    background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
    background-position: 2px center; /* Adjust the position of the background image */
    padding-left: 40px; /* Ensure enough padding for the text */
    
}

.input-container2  {
    background-image: url("../../Assets/dropoff.png");
    background-size: 35px 35px; /* Adjust size of the background image */
    background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
    background-position: 2px center; /* Adjust the position of the background image */
    padding-left: 40px; /* Ensure enough padding for the text */
    
}